
.custom-table{
    h4 {
        font-size: 18px;
        margin: 12px 0;
    }
    th {
        color: #888888;
        font-weight: normal;
    }
    th, td {
        padding: 15px;
        font-size: 120% ;
        vertical-align: middle;
        border-bottom: 1px solid #EEF0EA;
        border-top: 1px solid #EEF0EA;

        &:first-child {
            width: 50%;
        }
        &:not(:first-child) {
        text-align: center;
        }
    }
    tfoot {
        td {
            border-bottom: none;
            font-size: 150%;
        }
    }
}



