@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
        url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
        url(../fonts/JF-Flat-regular.woff) format('woff'),
        url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body{
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}
.custom-navbar {
    border-bottom:3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

.navbar-header img {
    transition: transform 0.5s ease ;
}
.navbar-header img:hover {
    transform: scale(1.2);
    
}


.custom-form-control,
.dropdown a.custom-btn  {
    border: 1px solid #EEF0EA;
    box-shadow: none;
    border-radius: 2px;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all 0.3s ease;
}

.div-user {
    height: 50px;
    position: relative;
}
.btn-user {
    position: absolute;
    right: -50px;
    top: 30px;
    background-color: #38b6ff;
    color: #fff;

}
.modal-footer a {
    text-decoration: none;
    color: #38b6ff;
}
.custom-form-control:focus {
    border-color: #38B6FF;
    box-shadow: 0 0 2px 0 #38B6FF;
    background-color: #e4e4e4;
}

.dropdown a.custom-btn:hover {
    background-color:#e6e6e6 ;
    border: 1px solid #38B6FF;
    color: #38B6FF;
}
.dropdown a.custom-btn:focus {
    color: #38B6FF;
}
.dropdown a.categories {
    border-right: 0 !important ;
    border-radius: 0;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EEF0EA;
    color: #000;
}
.search-btn {
    background-color: #38B6FF;
    border-color:#38B6FF ;
    color: #fff;
    padding: 5px 15px 7px;
    height: 38px;
    width: 65px;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
}
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover {
    background-color: #2a8bc3;
    border-color:#38B6FF ;
    color: #fff;
}

.nav-link {
    color: #000;
    font-size: 14px;
    padding: 15px ;
}
.custom-navbar .navbar-nav li.active a.nav-link {
 color: #38B6FF;
 font-weight: 700;
 border-bottom: 1px solid #38B6FF;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link {
    background-color: #e7e7e7;
}

.custom-dropdown-menu li a:hover {
    background-color: #c2e9ff;
}

.custom-navbar .btn-icon {
    padding: 8px 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #38B6FF;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 15px;
    border: 2px solid #38B6FF;
}

.custom-navbar .btn-icon:hover {
    border: 2px solid #38B6FF !important;

    background-color: transparent;

}

.custom-navbar .btn-icon:hover,
.custom-navbar .btn-icon:active,
.custom-navbar .btn-icon:focus,
.custom-navbar .btn-icon:active:focus,
.custom-navbar .btn-icon:active:hover {
    border: none;
    color: #38B6FF;
}

header {
    height: 630px;
    background-color: #f6f6f6;

}
header #carouselExampleIndicators img{
    max-height: 60vh;
}
header #carouselExampleIndicators .carousel-inner {
    border-radius: 10px !important;

}
#carouselExampleIndicators .carousel-indicators .active {
    opacity: 1;
    background-color: #38B6FF;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #38B6FF;
    border-radius:50% !important;
    padding: 8px 10px;

}
.carousel-indicators {

    margin-bottom: 0rem;

}
#carouselExampleIndicators .carousel-indicators [data-bs-target] {

    height: 20px;
border-radius:50% !important;

margin-bottom: -60px !important;
width: 20px;
}


/* header */


#carousel-featured {
    background-color: #e9e9e9;
    height: 400px;
    padding-top: 25px;

}
#carousel-featured .carousel-item img {
    height: 375px;
}

#carousel-featured .product-details {
    border: 2px solid #c2e9ff;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    top: 50px;
    height: 200px;
    background-color: #fafafa;

}
#carousel-featured .product-details h1 {
    font-weight: 700;
    font-size: 175% ;
    margin-top: 18px;
}

.custom-btn-outline-warning {
    background-color: transparent;
    border-color: #38b6ff;
    color: #38B6FF;
transition: all 0.3s ease;
}

.custom-btn-outline-warning:hover {
    background-color: #38B6FF;
    color: #fff;
} 


#carousel-featured .product-details .product-category {
    /* border: 2px solid #c2e9ff; */
    padding: 10px;
    position: absolute;
    top: -30px;
    right: -10px;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(360deg,#c2e9ff,#38b6ff,#0065b8);
    background-size: 180% 180%;
    animation: gradient-animation 0.5s ease infinite;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .sale {
    background-color: #d10000;
    color: #fff;
    font-weight: bold;
    position: absolute;
  }
  .sale.large {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: -15px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    padding: 35px;
    flex-direction: column;
    border: 2px solid #c2e9ff;
    transform: rotate(-25deg);
  }



  .custom-carousel-indicators {
    top: 235px;
    right: 49%;
}

.custom-carousel-indicators-primary {
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    border: 2px solid #DDDDDB !important;
    margin: 0 !important;
    margin-left: 5px !important;
}

.custom-carousel-indicators-primary.active {
    border-color: #38b6ff !important;
}

#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left {
    color: #38B6FF;
    font-size: 38px;
}

#store-features {
    box-shadow: 0 0 15px #EEF0EA;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    background-size: auto 60%;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-position: -10px -20px ;
}


#store-features .feature>img {
    height: 40px;
    margin-bottom: 10px;
}
#store-features .feature+.feature {
    border-right: 1px solid #e9e9e9;
}

.heading {
    font-size: 24px;
    margin-bottom: 25px;
}

.custom-thumbnail img {
    height: 250px;
    max-width: 250px;

}

.custom-thumbnail {
    border: 2px solid #EEF0EA;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: all 0.3s ease;
}
.custom-thumbnail:hover {
    border-color: #38b6ff;
}
.custom-thumbnail h4{
    font-size: 18px;

}
.price {
    color: #38b6ff;
}
.rating{
    color: #c2c2c2;
}

.rating .active {
    color: #e9c600;
}

.overlay {
    position: absolute;
    background-color: rgb(56, 182, 255, 0.5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;

}
.overlay:hover {
    opacity: 1;
}
.add-to-cart-btn {
    color: #38b6ff;
    background-color: #fff;
    font-weight: 700;
}

.custom-thumbnail .sale {
    padding: 5px 10px;
    position: absolute;
    left: 15px;
    top: 10px;
    border-radius: 5px;
}
.custom-thumbnail .sale::after {
    content: " -";
}
.custom-carousel-indicators2 {
    bottom: 1px !important;
}
.custom-carousel-indicators2>li {
    width: 13px !important;
    height: 13px !important;
    margin: 2px !important;
    background-color: #dbdbdb !important;
}

.custom-carousel-indicators2>li.active {
    background-color: #0065b8 !important;
}

/* footer {
    --bs-gutter-x :0.0rem !important;
} */
.panel {
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;

}
.panel h4,
.panel .price {
    font-size: 130%;
    margin-bottom: 15px;
    margin-top: 0;

}
.custom-text-muted {
    color:#5a5a61 ;
}

.arrow-btn {
    background-color: #fff;
    color: #3b3939;
    border: 1px solid #3b3939;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

#row-brands h3.heading {
    border-top: 2px solid #e4e4e4;
    padding-top: 25px;
}


#brand-logos {
    background-color: #dcf2ff;
    padding: 15px 0;
    color: #414141 !important;

}

#brand-logos img {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    min-height: 100px;
}
#footer-nav {
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
}

.footer-nav-links {
    margin: 30px 0;
}

.footer-nav-links a {
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none !important;
}
.newsletter {
    display: flex;
}
.newsletter {
    border-top: 2px solid #2a2a2a;
}
.newsletter form {
    max-width: 260px;
}

.newsletter form label {
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555555 ;
}
.newsletter form input {
    background-color: #31313131;
    border: 0;
    opacity: 0.6;
    height: 38px;
}


.custom-btn-warning {
    color: #fff;
    background-color: #38b6ff;
    border-color: #38b6ff;
    border-radius: 2px;
}

.custom-btn-warning:hover,
.custom-btn-warning:active,
.custom-btn-warning:focus,
.custom-btn-warning:active:focus,
.custom-btn-warning:active:hover {
    color: #38b6ff;
    background-color: #fff;
}
.newsletter form button {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    padding: 6px 12px 5px;
    color: #fff;
    height: 38px;
}

#footer-copyright-social {
    background-color: #161515;
    padding: 30px 0 !important;
    font-weight: 700;
}
#footer-copyright-social p {
    color: #555555;

}
#footer-copyright-social a {
    color: #38b6ff;
    text-decoration: none;
    margin: 0 5px ;
}


.custom-breadcrumb {
    padding: 25px 0;
}

.custom-breadcrumb a {
    color: #555 ;
    text-decoration: none;
}

.custom-breadcrumb a:hover {
    color: #38b6ff;
}

.custom-breadcrumb>li::before {
    color: #38b6ff !important;

}
.custom-breadcrumb .active {
    color: #b6b6b6 !important;
}

#carousel-product-images .carousel-indicators {
    position: absolute;
    top: 80%;
    right: 0;
}
#carousel-product-images .carousel-item img {
    width: 100%;
    height: auto;
    border: 1px solid #EEF0EA;
}

.product-category {
    color: #787676;

    
}

#form-product-selection h2 {
    font-weight: 700;
    margin: 18px 0;
}

.price.large {
    font-size: 30px;
    margin-top: 20px ;
}

.borders-between>div+div {
    border-top: 1px solid #EEF0EA ;
    padding: 15px 0;
}

.product-option {
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #c4c4c4;
    text-align: center;
    justify-content: center;
    color: #c4c4c4;
    margin: 3px ;
    font-weight: 700;
}
.product-option label{
    cursor: pointer;

}
.product-option input {
    display: none;
}
.product-option.active {
    color: #38b6ff;
    border-color: #38b6ff;
    transition: all 0.3s ease;
}
.color-option.active {
    border-color: #fff;
    outline: #000 solid 1px ;
}

.product-quantity select {
    height: 34px !important;
    padding: 6px 12px ;
    margin-right: 5px;

}

.custom-btn-with-icon {
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 10px;
}

.custom-btn-with-icon:hover {
    background-color: #2c98d6;
    border-color:#2c98d6 ;
    color: #fafafa;
}

.heading-with-border-bottom {
    border-bottom: 2px solid #EEF0EA;
    padding-bottom: 15px;
}
.heading-inline {
    display: inline-block;
    min-width: 150px;
    transition: all 0.5s ease;
}
.heading-inline:hover {
    min-width: 250px;
    color: #38b6ff;
    border-color: #38b6ff;
}

.more-description p,
.more-description ul {
    margin-bottom: 10px;
}


.comments .comment img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: 1px solid #dbdbdb;
}

.comments .comment h4 {
    font-size: 18px;
    margin-bottom: 5px;
} 
@media (max-width: 1399.98px) {  }

@media (max-width: 990px) { 
    header {
        display: none;
    
    }
}

@media (max-width: 1199.98px) {
    .custom-navbar .navbar-nav li a.nav-link {
        padding: 7px;
    }

    #carousel-featured .carousel-indicators {
        margin-right: 12%;
    }
 }

 
@media (max-width: 991.98px) { 

    .custom-navbar {
        padding: 15px 20px 30px;
    }

    .custom-navbar .container {
        max-width: 100%;
    }

    .navbar-header {
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }

    .navbar-header .btn {
        float: left;
    }

    .inline-form {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    .inline-form .dropdown {
        display: none;
    }

    .inline-form .custom-form-control {
        width: 90%;
    }

    .inline-form .search-btn {
        width: 10%;
    }

    .custom-navbar .navbar-nav li a.nav-link {
        padding: 10px 0;
    }

    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }

    #carousel-featured .carousel-indicators {
        margin-right: 4%;
    }

    .overlay {
        display: none;
    }

    .add-to-cart-btn {
        color: #868686;
        border-color: #868686;
        margin-top: 8px;
        font-weight: 400;
    }

    #row-brands .carousel-inner img {
        width: 200px !important;
        height: auto !important;
    }

    #copyright,
    #social-icons {
        width: 100%;
        text-align: center;
    }

    #social-icons {
        font-size: 150%;
        margin-top: 10px;
    }

    .product-images {
        margin-bottom: 70px;
    }

    .product-option {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 10px;
        font-size: 20px;
    }

    .search-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*صفحة التواصل*/
    #form-subscription {
        margin-bottom: 25px;
    }

    #contact-options input[name=name]
    {
        margin-bottom: 15px;
    }

 }

 @media (max-width: 767.98px) {

    #carousel-featured {
        padding-bottom: 25px;
    }

    #carousel-featured,
    #carousel-featured .product-details {
        height: auto;
    }

    #carousel-featured .product-details {
        top: -2px;
        text-align: center;
    }
    .custom-thumbnail img {

        margin: auto;
    }
    #carousel-featured .carousel-item img {
        height: 250px;
    }

    #brand-logos img {
        max-width: 50px;
        max-height: 50px;
        margin: 5px 24px 5px 23px;
    }

    #footer-nav .footer-logo {
        margin-bottom: 30px;
    }

    #footer-nav form {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }

    .hide-on-small {
        display: none;
    }
    #footer-nav {
        background-color: #1f1e1e;
        padding: 50px 0 40px;
        background-image: url(../images/bg_footer_1.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 110% 0, -10% -150%;
    }
}

@media (max-width: 575.98px) { 
    .inline-form .custom-form-control {
        width: 80% !important;
    }

    .inline-form .search-btn {
        width: 20% !important;
    }

    #brand-logos .img-container img {
        margin: 5px 15px;
    }

    #form-product-selection,
    .comments {
        padding-right: 15px;
    }
    .carousel-control-prev {
        margin-top: -170px;
    }
    .carousel-control-next {
        margin-top: -170px;
    }
    .btn-user {

        right: 1px;
    }

 }